#form{
    background-color: aliceblue;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;

}
#sub{
    margin-top: 20px;
}
#dojos{
    width: 400px;
    display: flex;
    align-items: center;

}
